APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:wnK7Up6QULl8MONwmWApqyC1ogq5DFGKmK/j+SWM2WQ=
APP_DEBUG=true
APP_TIMEZONE=UTC
APP_URL=http://localhost

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
APP_MAINTENANCE_STORE=database

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=eclo
DB_USERNAME=root
DB_PASSWORD=

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=pusher
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"

JWT_SECRET=Blz2t7bE4oyDRh4Les3qi9WSUIgVqNrwjrgM0aEWIbT9pwEHZrEJB7BZETNUs0FI

JWT_ALGO=HS256

CLOUDINARY_CLOUD_NAME=eclo
CLOUDINARY_API_KEY=426457797134772
CLOUDINARY_API_SECRET=-XO1BWyQTQLbtt5QdUr-K-go1yc



REVERB_APP_ID=139416
REVERB_APP_KEY=flp6got2tqfafw14yela
REVERB_APP_SECRET=b3clgqs06yytikxwdqmm
REVERB_HOST="localhost"
REVERB_PORT=8080
REVERB_SCHEME=http

VITE_REVERB_APP_KEY="${REVERB_APP_KEY}"
VITE_REVERB_HOST="${REVERB_HOST}"
VITE_REVERB_PORT="${REVERB_PORT}"
VITE_REVERB_SCHEME="${REVERB_SCHEME}"

PUSHER_APP_CLUSTER="ap1"
PUSHER_APP_ID=1807724
PUSHER_APP_KEY="ee76bcb47adb3a07661f"
PUSHER_APP_SECRET="c792189f52e3149b1ba9"